doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			a.boton Registro

		h1 Título 
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nesciunt delectus fugiat odit doloremque facilis eos soluta quae nulla tempore mollitia porro praesentium eveniet culpa fugit voluptas, corporis, harum saepe.
		div
			span Leer
		div 
		  a Boton 2